body {
  background: #f7f7f7 !important;
}
.container {
  max-width: 100% !important;
  width: 100% !important;
}
.layout {
  display: flex;
  height: 100vh;
  background-color: #f7f7f7;
}
.header {
  height: 60px;
  background-color: #f7f7f7;
  padding: 10px;
}
.header h3 {
  color: #000;
  font-size: 22px;
  margin: 0;
}
.buttons1 {
  display: flex;
  justify-content: space-between;
}
#submit,
.btn-primary
{
  background: -webkit-linear-gradient( left,
    #2797af,#2b6293 
  );
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 10px 25px;
  font-size: 16px;
  margin: 10px 5px;
  float: center;
}
.btn-primary svg
{
  margin-right: 10px;
}

.date {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
  width: 270px;
}
a 
{
  text-decoration: none !important;
}
.sidebar {
  display: flex;
  flex-direction: column;
  /* background-color: #520389; */
  background: -webkit-linear-gradient(
    #2797af,#2b6293 
  );
  color: #fff;
  width: 250px;
  min-width: 250px;
  transition: width 0.3s ease;
  padding: 10px;
  height: 100vh;
  z-index: 100;
  transition: width 0.3s ease;
  border-radius: 20px;
  /* overflow-y: scroll; */
}
.sidebar ul::-webkit-scrollbar-track 
{
  border-radius: 10px;
  background-color: #0083a5;
}
.sidebar ul::-webkit-scrollbar 
{
  width: 6px;
  background-color: #0083a5;
}
.sidebar ul::-webkit-scrollbar-thumb 
{
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.sidebar.closed 
{
  width: 80px;
  min-width: 80px;
}
.sidebar.open {
  width: 250px;
  min-width: 250px;
}
.sidebar ul {
  list-style: none;
  margin: 20px 0px;
  /* background: #fff; */
  /* margin: 10px 10px; */
  border-radius: 16px;
  padding: 5px;
  transition: width 0.3s ease;
  overflow-y: auto;
}
.sidebar ul ul {
  margin: 0;
  border-radius: 1px;
}
.sidebar li {
  padding: 10px 8px;
  cursor: pointer;
  /* background-color: #fff; */
  /* border-bottom: 1px solid #f4eeee; */

}
.sidebar li span a {
  font-size: 14px;
  color: #fff;
}
.sidebar ul ul li span a {
  font-size: 14px;
  color: #fff;
}
.sidebar ul ul li svg {
  color: #fff;
  width: 24px;
  height: 24px;
  /* background: #520389; */
  padding: 5px;
  border-radius: 50%;
}
.hamburger {
  text-align: end;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

main {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  background-color: #f7f7f7;
}
.accordion-item:first-of-type>.accordion-header .accordion-button {
  border-radius: 1px !important;
}
.sidebarAccordion .accordion-item {
  border-radius: 0px !important;
  border: none;
  /* border-bottom: 1px solid #f4eeee; */
  background-color: transparent;
}
.accordion-item>.accordion-header .accordion-button::after {
  width: 14px;
  height: 14px;
  background-size: 0.8rem;
  background-image: url(/dropArrow.png);

}
.sidebar.closed .accordion-item>.accordion-header .accordion-button::after {
  content: none;
}
.sidebar.closed li span {
  display: none;
}
.accordion-item>.accordion-header .accordion-button {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 8px;
  background-color: transparent;
  color: #fff;
}
.accordion-item>.accordion-header .accordion-button:focus {
  box-shadow: none;
}
.accordion-item>.accordion-header .accordion-button svg,
.sidebar ul li svg {
  width: 26px;
  height: 26px;
  padding: 5px;
  /* background: #520389; */
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.accordion-body {
  padding: 0px !important;
}
.rightNavbar.navbar-expand-lg {
  margin: 0;
  padding: 0;
}
.rightNavbar .nav-link {
  color: #000;
}
.rightNavbar.navbar-expand-lg .navbar-nav .dropdown span img
{
  width: 24px;
}
/* .rightNavbar .nav-link svg circle,
.rightNavbar .nav-link svg {
  color: #ffaf01;
} */


.rightNavbar .nav-link:hover,
.rightNavbar .nav-link:focus,
.rightNavbar .nav-link.dropdown-toggle.show {
  color: #000;
}
.rightNavbar.navbar-expand-lg .navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
  border-radius: 6px;
  border: 0;
}
.rightNavbar.navbar-expand-lg .navbar-nav .dropdown-menu a {
  padding: 5px 10px;
}
.rightNavbar.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-divider {
  margin: 0;
}
.nav-item .notif-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.notif-center a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}
.rightNavbar.navbar-expand-lg .navbar-nav .dropdown img {
  width: 26px;
}

li a {
  text-decoration: none !important;
  color: #201436;
  font-size: 17px;
  font-weight: 500;
}

footer {
  background-color: #1e2d3d;
  color: white;
  text-align: center;
  padding: 10px;
}
.dashboardCardCard {
  margin-bottom: 23px;
}
.dashboardCardCard span {
  font-size: 22px;
}
.studentHeading
{
  margin-bottom: 30px;
}
.studentHeading h2
{
  font-size: 30px;
  font-weight:bold;
}



.studentCardTitle h4 {
  font-size: 14px;
  margin: 0;
}
.studentItemList h5 {
  font-size: 14px;
}
.studentCardDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 25px;
}
.studentCardDetails .card {
  padding-bottom: 0;
  box-shadow: 0 3px 20px #ededed;
  border: 0;
}
.studentCardDetails .card .studentData {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}
.studentCardTitle {
  background-color: #0083a5;
  padding: 6px 2px 6px 2px;
  color: #fff;
}


.studentCardCount p 
{
  margin: 0;
  font-size: 24px;
  font-weight: 800;
}
.studentCardCount p span 
{
  font-size: 14px;
  font-weight: 500;
  color: #666;
}
.studentCardTitle1 h4 
{
  font-size: 16px !important;
}
.dashboardCardCard h1 
{
  font-size: 35px;
}
.iconBack 
{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #fff;
  background: #0083a5;
  line-height: 55px;
  margin: auto;
}
.iconBack svg.studentIcon 
{
  color: #fff;
  font-size: 20px;
}
/* .studentData{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.studentImg 
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.studentImg img 
{
  /* width: 70px !important; */
  height: 70px !important;
}
.studentImg1 
{
  padding-top: 10px;
  /* padding-bottom: 10px; */
}
.studentItemList 
{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  min-width: 50%;
}

.addNewStudent a
{
  color: #000;
}
.addonbtn
{
  background-color: #8a59ca;
  color: #fff; 
  border-radius: 50%;
  margin-top: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  /* margin: 0; */
}
.card {
  text-align: center;
  border-radius: 28px;
  padding-bottom: 20px;
  /* background-color: #fbf8f2; */
  box-shadow: -10px 0 10px 0 hsla(0, 3%, 59%, .5);
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  overflow: hidden;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  margin-bottom: 35px;
}
.subCard1 {
  width: 24%;
  margin-bottom: 20px;
}
.SubCardLink {
  width: 100%;
  text-decoration: none;
}
.SubCard {
  background-color: #fafafa;
  /* border: 1px solid #e0e0e0; */
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}
.nav-tabs
{
  border: none;
}
.dataTableCover
{
  border:1px solid #ddd;
  border-radius: 8px;
  padding: 20px; 
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.searchBar
{
  display: flex;
  align-items: center;
}
.searchBar button
{
   margin-top: 0px;
}
/* .result
{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 20px;
} */
.cover-sheet 
{
  background: rgb(249, 249, 249);
  padding: 0px;
  border-radius: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;
}
.cover-sheet .studentHeading
{
    padding: 10px 20px;
    background-color: #2b6293;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.cover-sheet .studentHeading h2
{
  margin: 0;
  font-size: 18px;
  color: #fff;
}
.closeForm
{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ffffff59;
  color: #ffffff;
  line-height: 20px;
  font-size: 13px;
  border: 2px solid #fff;
}
.formSheet
{
  padding: 20px;
}
.labelForm
{
  font-size: 14px;
  font-weight: bold;
  color: #5c5c5c;
}
.tableSheet
{
margin-top: 20px;
}

.tableSheet h2
{
  font-size: 22px;
  font-weight: bold;
  color: #006393;
  margin-bottom: 30px;
  padding-left: 30px;
  position: relative;
  background-color: #f7f7f7;
}
.tableSheet h2::before
{
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
  background-color: #000;
  transform: rotate(24deg);
}
.tableSheet h2::after
{
  content: "";
  position: absolute;
  left: 0px;
  top: 6px;
  width: 9px;
  height: 16px;
  background-color: #2b6293;
  transform: rotate(24deg);
}
.breadcrumb .breadcrumb-item a
{
  font-size: 14px;
}
/* 
.SubCard::before 
{
  content: "";
  position: absolute;
  width: 150%;
  height: 50%;
  background-color: #0075ff;
  left: 50%;
  top: 60%;
  transform: translateX(-50%) skew(0deg, -10deg);
  border-radius: 50%;
  z-index: -1;
  animation: waving 6s ease-in-out infinite alternate;
} */
.cardBorder
{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 20px;
}
.TabButton.nav-tabs
{
  border-bottom: 0;
}
.TabButton.nav-tabs .nav-link
{
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 10px;
  color: #000;
}
.TabButton.nav-tabs .nav-item.show .nav-link, .TabButton.nav-tabs .nav-link.active
{
  border: 1px solid #ddd;
  background: -webkit-linear-gradient( left,
    #2797af,#2b6293 
  );
  color: #fff;
}
.SubCard:hover 
{
  transform: translateY(-10px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.studentIcon 
{
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
}
.SubCard h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 10px 0 0;
  color: #141e36;
}
.SubCard p {
  font-size: 0.8rem;
  color: #555555;
  margin-top: 8px;
}
.editButton {
  background: #0083a5;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 2px;
  padding: 7px 10px;
  font-size: 14px;
  margin: 10px 5px;
}
.printButton
{
  background-color: #cd3434;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 0px;
  padding: 7px 10px;
  font-size: 16px;
  margin: 10px 5px;
}
.btn-danger
{
  background: #e97171;
}
.form-control,
.form-select
{
  color: #000;
}
.form-control::placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder
{
  color: #999;
}
@media (max-width: 768px) {
  .subCard1 {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .subCard1 {
    width: 100%;
  }
}
