.home h2 span {
    font-size: 20px;
}

.home ul {
    list-style: none;
}

.home a {
    text-decoration: none;
}

.card {
    height: 300px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
}

.cardHdr {
    background-color: #192733;
    color: #fff;
}

.cardBg {
    background-image: url("/modulebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20PX 0PX;
}

.cardLink {
    padding: 20px;
}

.cardLink ul {
    text-align: left;
    padding: 0;
}

.cardLink ul li {
    border-bottom: 1px solid #000;
}

.cardLink a {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}